<app-navbar></app-navbar>
<div class="container mt-5">
  
  <!-- Message de Bienvenue -->
  <div class="text-center">
    <h1 class="display-4 text-primary">Bienvenue à l'ISET Rades</h1>
    <p class="lead mt-3">
      Explorez nos formations et sessions. Consultez les catégories ci-dessous et les formations qui lui corespond.
    </p>
  </div>

  <section class="categories mt-5">
    <h2 class="text-secondary">Catégories des formations :</h2>
    <div class="row mt-4">
      <div class="col-md-4 mb-4" *ngFor="let categorie of categories">
        <div class="card shadow-sm h-100">
          <div class="card-body text-center">
            <h5 class="card-title text-info">{{categorie.nom}}</h5>
            <p class="card-text">{{ categorie.description }}
            </p>
            <h5>Les formations Disponible : </h5>
           <div *ngFor="let formation of categorie.formations">
              <a [routerLink]="['/detail', formation.id]" class="card-title text-info">{{ formation.titre }}</a>
              <p class="card-text">{{ formation.description }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>